.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: var(--gap-xs-2);
    max-width: var(--gap-xxl-2_1);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: var(--neutral-gray-1);

    width: 100%;
    min-width: var(--gap-xl-3);
    min-height: var(--gap-gx-5);
    padding: var(--gap-sm-10_5);
}



.button {
    background-color: var(--primary-light-6);
    width: 100%;
    margin-top: var(--gap-xs-10);
}

.container :global(.ant-input-affix-wrapper){
    margin-top: var(--gap-xs-5);
}

.container :global(.ant-form-item-explain-connected){
   font-size: var(--font-size-x);
}

.container :global(h3.ant-typography){
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);

    text-align: center;
    margin-bottom: var(--gap-xs-10);

    color: var(--neutral-gray-10);
}
.container :global(.ant-form-horizontal){
    width: 100%;
    max-width: var(--gap-xl-7);
}

