.headerWrapper {
    background-color: var(--neutral-gray-1);
}

.headerWrapper :global(.ant-page-header-heading-title){
    padding-left: var(--gap-x-10);

    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
}


.header :global(h1.ant-typography) {
    font-size: var(--font-size-l_1);
    font-weight: var(--font-weight-bold);
}

.headerWrapper :global(.ant-card-body) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;
    gap: 10px
}

.header :global(.ant-btn) {
    margin-left: var(--gap-x-10);
    padding-top: var(--gap-x-10);

    border: none;
    cursor: pointer;
}

@media (width < 1000px) {
    .header :global(h1.ant-typography) {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
    }
}

@media (width < 670px) {
    .header :global(h1.ant-typography) {
        margin-left: var(--gap-x-10);
        padding-top: var(--gap-x-10);

        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-s_2);

        border: none;
        cursor: pointer;
    }
}

