.headerWrapper {
    background-color: var(--light-geekblue-1);
}

.headerWrapper :global(.ant-page-header-heading-title){
    padding-left: var(--gap-x-10);

    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
}


.header :global(h1.ant-typography) {
    font-size: var(--font-size-l_1);
    font-weight: var(--font-weight-bold);
}

.headerWrapper :global(.ant-card-body) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;
    gap: var(--gap-x-10);

    background-color: var(--light-geekblue-1);
}

.header :global(.ant-btn) {
    margin-left: var(--gap-x-10);
    padding-top: var(--gap-x-10);

    background-color: var(--light-geekblue-1);

    border: none;
    cursor: pointer;
}

#mobileIconSettings {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--neutral-gray-1);
    border: var(--gap-x-1) var(--neutral-gray-5);

    min-width: var(--gap-s-1);
    min-height: var( --gap-s-1);
    border-radius: 50%;
}


@media (width < 1000px) {
    .header :global(h1.ant-typography) {
        line-height: var(--line-height-m);

        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-s_2);

    }
}

@media (width < 670px) {
    .header :global(h1.ant-typography) {
        margin-left: var(--gap-x-10);
        padding-top: var(--gap-x-10);


        border: none;
        cursor: pointer;
    }
}

