.layout {
    max-width: 1440px;
    margin: auto;
}



.siteLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/Main_page_light.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.logOut {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transform: translateY(-100%);
    padding-bottom: 50px;
    display: flex;
    gap: 10px;
    padding-right: 10px;
}


@media (width < 768px) {
    .siteLayout {
        overflow-y: scroll;
        min-height: 100vh;
        height: auto;
    }

}


