.list {
    padding: var(--gap-xs-7);
    margin-top: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    background-color: var(--neutral-gray-1);
    color: var(--primary-light-9);

}

.list > li::before {
    content: "- ";
}

@media (width < 670px) {
    .list {
        padding: var(--gap-xs-1);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-s);
        line-height: var(--gap-xs-5);
    }
}

