.myMenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 16px 1px 1px 1px;
    gap: 8px;
}


@media (width < 670px) {
    .title {
        min-height: 60px;
        width: auto;
        white-space: pre-wrap;

    }
    .myMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .myMenu > div {
      min-width: 320px;
    }
}
