.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--gap-xs-7) var(--gap-s-5);
    color: var(--primary-light-6);
}

.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerBlock {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-gray-1)

}

.firstSpan {
    display: block;
    text-align: start;
    color: var(--primary-light-6);
    width: 100%;
}

.secondSpan {
    display: block;
    text-align: start;
    color: var(--neutral-gray-7);
    width: 100%;
}

.innerBlockInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    gap: 8px;
    padding: 12px 24px;
}

.innerBlockLink {
    display: flex;
    padding: var(--gap-xs-1) 0;
}

.innerBlockLink > Button {
    color: var(--neutral-gray-10)
}

@media (width < 670px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        min-width: var(--gap-xl-4);
        margin: auto;
        gap: var(--gap-xs-7);
        width: 100%;
    }

    .reviews {
        margin-bottom: var(--gap-s-6);
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .firstSpan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--gap-gx-4);
    }
    .secondSpan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--gap-gx-4);
    }
}
