.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 var(--gap-xs-7) var(--gap-s-5);

    color: var(--primary-light-6);
}

.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerBlock {
    display: flex;
    flex-direction: column;

    background-color: var(--neutral-gray-1);

}

.firstSpan {
    display: block;
    text-align: start;

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);

    width: 100%;

    color: var(--primary-light-6);
}

.secondSpan {
    display: block;
    text-align: start;

    width: 100%;

    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);

    color: var(--neutral-gray-7);
}

.innerBlockInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    gap: var(--gap-x-8);
    padding: var(--gap-xs-1) var( --gap-xs-7);

    border-bottom: var(--gap-x-1) solid var(--neutral-gray-5);
}

.innerBlockLink {
    display: flex;
    padding: var(--gap-xs-1) 0;
}

.innerBlockLink > Button {
    color: var(--neutral-gray-10)
}


@media (width < 670px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        min-width: var(--gap-xl-1);
        margin: auto;
        gap: var(--gap-xs-7);
        width: 100%;

    }

    .reviews {
        display: flex;
        justify-content: center;

        margin-bottom: var(--gap-s-6);
        width: 100%;
    }

    .firstSpan {
        display: flex;
        justify-content: center;
        align-items: center;

        width: var(--gap-gx-4);
    }

    .secondSpan {
        display: flex;
        justify-content: center;
        align-items: center;

        width: var(--gap-gx-4);
    }
}
